body{
    background-image: url(png.jpg);
    
}

h1{
    background-color: #aaef;
    font-size: 25px;
    align-items: center;
    border: 2px solid #aaef;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 5px px 10px rgba(0 ,0 , 0, 0, 2);
}

select{
    background-color: #aaef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 220px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    overflow: hidden;
    margin: 2vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0 ,0 , 0, 0, 2);
    

}